.product-card {
    height: 100%;
}
.card-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
}
.card-img {
    max-width: 100%;
    max-height: 100%;
}
.card-title {
    font-size: 18px;
    height: 60px;
    overflow: hidden;
}
.des-div {
    height: 100px;
    overflow-y: hidden;
    transition: height 0.3s ease-in-out;
}
.des-div.expanded {
    height: auto;
}
.expanded-description {
    max-height: 200px;
    overflow-y: scroll;
    cursor: pointer;
}
.expanded-card {
    max-height: unset;
}
.des-div::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.des-div::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}


.des-div::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
}