.hero {
    position: relative;
    text-align: center;
  }
  
  .custom-image {
    max-width: 100%;
    max-height: 500px;
    width: 80%; 
    margin: 0 auto;
    display: block;
  }
  
  
  .image-container {
    position: relative;
    text-align: center;
    overflow: hidden;
    cursor:default;
  }
  
  .image-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 80%;
    max-width: 600px;
    text-align: center;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
  }
  
  .image-container:hover .image-content {
    opacity: 1; 
  }
  
@media (max-width: 839px) {
  .custom-image {
    width: 100%;
    height: auto;
  }
  .image-content {
    position: absolute;
    top: 500%;
    left: 50%;
    width: 80%;
    max-width: 600px;
    text-align: center;
  }
  .larger-title {
    font-size: 14px; 
  }

  .card-text {
    font-size: 8px;
  }
}

  